html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #595959;
}

#container {
  box-shadow: rgb(0 0 0 / 35%) 2px 13px 20px 20px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  background-image: url(board.svg);
  background-size: cover;
  width: 1600px;
  height: 1600px;
  cursor: pointer;
  user-select: none;
  flex-direction: row-reverse;
}

.square {
  height: 200px;
  width: 200px;
  font-size: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 3px;
}

.white {
  color: white;
}

.black {
  color: black;
}
