body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  width: 1600px;
  height: 1600px;
  cursor: pointer;
  user-select: none;
}

.square {
  height: 200px;
  width: 200px;
  font-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.dark {
  background-color: #827f7f;
}

.square.light {
  background-color: #94ed94;
}
